<!DOCTYPE html>
<html>
<head>
	<title>GeoBase</title>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery.min.js"></script>
	<!-- jquery ui -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/lib/bootstrap-3.3.6-dist/css/bootstrap.min.css">
	<script src="/lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<!-- jquery.layout -->
	<link rel="stylesheet" href="/lib/layout-master/layout-default.css">
	<SCRIPT type="text/javascript" src="/lib/layout-master/jquery.layout.js"></SCRIPT>
	<SCRIPT type="text/javascript" src="/lib/layout-master/plugins/jquery.layout.state.js"></SCRIPT>

	<!-- leaflet -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

	<!-- -->
	<link rel='stylesheet' href='/css/style.css' />
	<script src="/js/main.js"></script>
</head>
<script>
	// mapオブジェクト
	var g_LeafletMap = null ;

	// パラメータの解析
	function urlParam(name) {
		var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
		if (results == null) {
			return null;
		}
		else {
			return results[1] || 0;
		}
	}
	function resize()
	{
		console.log('resized : ' +	($(document).height() - 55)  );
		$("#WorkDiv").height($(document).height() - 55  );
	}
	// 初期化
	$(document).ready(function(){
		/* Ajax初期化 */
		$.ajaxSetup({ cache: false });
		resize() ;
		// パラメータにfileがあればそれを読み込む
		var sfile = urlParam("file") ;
		g_LeafletMap = new  LeafLetMap( "Map", sfile )  ;
		var timer = false;
		$(window).resize(function() {
			if (timer !== false) {
				clearTimeout(timer);
			}
			timer = setTimeout(function() {
				resize() ;
			}, 200);
		});
	});
</script>
<body>
<!-- メインエリア -->
<div class="container-fluid">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">GeoBase</a>
			</div>
			<div class="navbar-collapse collapse" id="navbar">
				<form class="navbar-form navbar-right">
					<input class="form-control" type="text" placeholder="Search...">
				</form>
			</div>
		</div>
	</nav>
</div>
<!-- メインエリア -->
<div class="container-fluid  row width100 " id='WorkDiv'>
	<!--div class="row" id='WorkDiv'-->
		<div class="hidden-xs col-sm-2 col-md-2 sidebar height100  " id="WayListBase" >
			<ul class="nav nav-sidebar width100" id="WayList">
			</ul>
		</div>
		<div class="col-xs-12 col-sm-10  col-md-8 height100 " id='Map'>
		</div>
		<div class="hidden-xs hidden-sm col-md-2 row " id="PropertyBase">
			<form class="form-horizontal height100 width100"  role="form" id='Property'>
			</form>
		</div>
	<!--/div -->
</div>

</body>
</html>
